@charset "utf-8";

:root {
  --color-primary: rgb(8, 4, 25);
  --color-secondary: #4f45ea;
  --color-tertiary: #a793f7;
  --color-quaternary: #f5f5f5;
}

/* Main */
main {
  max-width: 1280px;
  width: 100%;
}

/* Body */
body {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 90%,
      rgba(8, 4, 25, 1) 100%
    ),
    url("../img/background_body.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

/* Section title text */
section.title-container {
  display: flex;
  max-width: 983px;
  width: 100%;
  padding: 414px 0 472px 0;
  max-width: 70ch;
}

.main-container .title-container h2 {
  font-size: 64px;
  color: var(--color-quaternary);
  font-weight: bold;
  margin: 0;
}

/* Formulário */

.contacts-form {
  display: flex;
  gap: 40px;
}

.contacts-form__description,
.contacts-form__group {
  flex: 1 1 calc(50% - 20px);
}

.contacts-form__description {
  color: #f5f5f5;
}

.contacts-form__group {
  background-color: rgba(247, 247, 247, 0.2);
  border-radius: 40px;
  padding: 40px;
}

.contacts-form__subtitle {
  color: #f7f7f7;
  margin-bottom: 80px;
}

.contacts-form__input,
.contacts-form__textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.contacts-form__input {
  height: 40px; /* Define uma altura fixa para os campos de input */
}

.contacts-form__textarea {
  height: 150px; /* Define uma altura fixa para a área de texto */
}

.contacts-form__field:nth-child(1),
.contacts-form__field:nth-child(2) {
  margin-top: 100px; /* Aplica uma distância de 100px entre o h4 e os campos de nome */
}

.contacts-form__button {
  background-color: #007bff; /* Cor do fundo do botão */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
