:root {
    --color-primary: rgb(8, 4, 25);
    --color-secondary: #4f45ea;
    --color-tertiary: #a793f7;
    --color-quaternary: #f5f5f5;
}

body {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, rgba(8, 4, 25, 1) 100%), 
    url('../img/backgroud-body.png');;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    
}
main {
    max-width: 1280px;
    width: 100%;
    height: auto;
}

section.title-container {
    display: flex;
    max-width: 983px;
    width: 100%;
    padding: 414px 0 272px 0;

}
.main-container .title-container h1 {
    font-size: 96px;
    color: var(--color-quaternary);
    font-weight: bold;
    margin: 0;
}

/* estilo do acordeão */ 
.accordion-button { 
    padding: 98px 0 98px 0;
    background-color: rgb(8, 4, 25); /* fundo do botão */
    color: #a793f7; /* cor do texto */
    font-size: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}


.accordion-button:not(.collapsed) {
    background-color: rgb(8, 4, 25); /*fundo ao expandir*/
    border: none!important;
    color: #ffffff!important;
    
}
button.accordion-button::after {
    filter: brightness(0) saturate(100%) invert(100%)!important;
}

.accordion-body {
    background-color: rgb(8, 4, 25); /*fundo do conteúdo*/
    color: #a793f7; /*cor do texto do centeudo*/
    padding: 15px;
    border-radius: 5px; /*borda arredondadas do conteudo*/
    font-size: 14px;
}

/*margem entre os itens*/
.accordion-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    background-color: rgb(8, 4, 25);
    border: none; /*remove as bordas padrão*/
    height: auto;
}
.accordion-img {
    max-width: 522px;
    width: 100%; /* ajustar o tamanho da imagem */
    height: auto; /*  proporção */
}

/* ajuste de imagem DO ACORDEÃO */
.accordion-img img {
    max-width: 522px;
    width: 100%; /* ajustar o tamanho da imagem */
    height: auto; /*  proporção */
    border-radius: 8px; /* Arredonda as bordas da imagem */
}

/* ajustes de texto DO ACORDEÃO */
.accordion-text p {
    font-size: 25px; /* Tamanho da fonte */
    line-height: 1.5; /* Espaçamento entre linhas */
    color: #a793f7; /* Cor do texto */
    margin-top: 10px; /* Espaço acima do texto */
}

/* Ajustes de layout */
.accordion-body {
    display: flex; /* Organiza o layout em linha */
    align-items: center; /* Alinha verticalmente */
    gap: 20px; /* Espaçamento entre a imagem e o texto */
}

/* INSTRUTORES */
/* Container da seção de instrutores */
.instrutores-container h2 { 
    font-size: 2rem; 
    margin-bottom: 40px;
    color: #f5f5f5;    
}

/* Ajusta o layout para os cards ficarem um ao lado do outro */
.instrutores-container{
    margin-top: 200px;
    height: 813px;    

}
.instrutores {
    display: flex;   /* Usando Flexbox */
    justify-content: center;     /* Centraliza os cards horizontalmente */
    gap: 20px;   /* Espaçamento entre os cards */
    flex-wrap: wrap;   /* Permite que os cards que não cabem na linha, desçam para a próxima linha */
    flex-direction: column;
    align-items: flex-start;
    border-radius: 40px;
    margin: 100px 0;   /* Adiciona um pouco de espaço no topo */
    max-width: 1280px;/* imagem de acordo com o figma */
    height: 743px; 
    
}

.instrutor-card {
    width: 413px;
    height: 743px;
    background-color: #a793f7;
    border-radius: 50px;
    flex-direction: column;
    align-items: flex-start; /* Espaçamento entre os cards */
    justify-content: center;     /* Centraliza os cards horizontalmente */
    flex-wrap: wrap;   /* Permite que os cards que não cabem na linha, desçam para a próxima linha */   /* Adiciona um pouco de espaço no topo */
   
}
.instrutor-card img { 
    max-width: 413px;/* imagem de acordo com o figma */
    height: 413px; 
    border-radius: 10px; 
       
}
.instrutor-card h3{    
    padding: 0 40px;
    margin-top: 15px;
}

.instrutor-card h6{    
    padding: 0 40px;
}

.instrutor-card p{
    width: 333px;
    font-size: 16px;
    height: 154px; 
    padding: 40px;
}











