:root {
    --color-primary: rgb(8, 4, 25);
    --color-secondary: #4f45ea;
    --color-tertiary: #a793f7;
    --color-quaternary: #f5f5f5;
}

body {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, rgba(8, 4, 25, 1) 100%), 
    url('../img/backgroud-body.png');;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    
}
main {
    max-width: 1280px;
    width: 100%;
}

section.title-container {
    display: flex;
    max-width: 983px;
    width: 100%;
    padding: 414px 0 472px 0;

}
.main-container .title-container h1 {
    font-size: 64px;
    color: var(--color-quaternary);
    font-weight: bold;
    margin: 0;
}

/* estilo do acordeão */ 
.accordion-button { 
    background-color: rgb(8, 4, 25); /* fundo do botão */
    color: #a793f7; /* cor do texto */
    font-size: 40px;
    font-weight: 200;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px; /*borda arredonda */
    transition: all 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(8, 4, 25); /*fundo ao expandir*/
    color: #a793f7; /*cor do texto ao expandir*/
}

.accordion-body {
    background-color: rgb(8, 4, 25); /*fundo do conteúdo*/
    color: #a793f7; /*cor do texto do centeudo*/
    padding: 15px;
    border-radius: 5px; /*borda arredondadas do conteudo*/
    font-size: 14px;
}

/*margem entre os itens*/
.accordion-item {
    background-color: rgb(8, 4, 25);
    border: none; /*remove as bordas padrão*/
    margin-bottom: 10px; /*espaçamento entre os itens*/
}
.hr.divider {
    border: none;
    height: 2px;
    background-color: rgb(8, 4, 25);
    border-top: 1px solid #a793f7;
    margin: 15px 0;
    width: 100%;
    opacity: 0.5;
}
.accordion-img {
    max-width: 522px;
    width: 100%; /* ajustar o tamanho da imagem */
    height: auto; /*  proporção */

}

/* ajuste de imagem */
.accordion-img img {
    max-width: 522px;
    width: 100%; /* ajustar o tamanho da imagem */
    height: auto; /*  proporção */
    border-radius: 8px; /* Arredonda as bordas da imagem */
}

/* ajustes de texto */
.accordion-text p {
    font-size: 1rem; /* Tamanho da fonte */
    line-height: 1.5; /* Espaçamento entre linhas */
    color: #a793f7; /* Cor do texto */
    margin-top: 10px; /* Espaço acima do texto */
}

/* Ajustes de layout */
.accordion-body {
    display: flex; /* Organiza o layout em linha */
    align-items: center; /* Alinha verticalmente */
    gap: 20px; /* Espaçamento entre a imagem e o texto */
}


/* Container da seção de instrutores */

.instrutores-container h2 { 
    font-size: 40px; 
    margin-bottom: 10px;
    color: #f5f5f5; 
} 

.instrutor-card img { 
    max-width: 413px;
    height: 413px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-bottom: 15px; 
} 





 

