@charset "utf-8";

:root {
    --color-primary: rgb(8, 4, 25);
    --color-secondary: #4f45ea;
    --color-tertiary: #a793f7;
    --color-quaternary: #f5f5f5;
}
/* Body */
body {
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 90%,
            rgba(8, 4, 25, 1) 100%
        ),
        url('../img/background_body.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
}

/* Section title text */
section.title-container {
    display: flex;
    max-width: 983px;
    width: 100%;
    padding: 414px 0 472px 0;
}
.main-container .title-container h1 {
    font-size: 96px;
    color: var(--color-quaternary);
    font-weight: bold;
    margin: 0;
}

/* Second Section numbers*/
section.number-container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
}
.numbers-container {
    display: flex;
    gap: 20px;
}
#first-number,
#second-number,
#third-number,
#fourth-number {
    max-width: 630px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 300px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: var(--color-quaternary);
}
.numbers-container h1 {
    width: 350px;
    font-size: 96px;
}
.numbers-container h4 {
    width: 240px;
}

/* Section title */
.title {
    width: 100%;
    height: 240px;
    margin-top: 400px;
    color: var(--color-quaternary);
}

/* Section Galeria */
.galeria-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 100%;
    height: 724px;
}
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-galery {
    max-width: 1280px;
    width: 100%;
    position: relative;
}
.btn-carousel {
    display: flex;
    max-height: 35px;
    top: -80px;
}
.carousel-control-next {
    right: -40px;
    font-size: 22px;
}
.carousel-control-prev {
    left: -40px;
    font-size: 22px;
}
.carousel-inner {
    max-height: 724px;
}
.carosel-item {
    max-height: 724px;
}

/* Section feedback */
.feedback-container {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    height: 632px;
    gap: 20px;
}
.btn-feedback .carousel-control-next {
    right: -40px;
    font-size: 22px;
}
.btn-feedback .carousel-control-prev {
    left: -40px;
    font-size: 22px;
}
.feedback-container .carousel-inner {
    max-width: 1280px;
    width: 100%;
    max-height: 724px;
}
.feedback-container.carosel-item {
    max-width: 1280px;
    width: 100%;
    max-height: auto;
}
#feedback-img {
    max-width: 413px;
    width: 100%;
    max-height: 632px;
    height: 100%;
}
#feedback-img img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
#feedback-text {
    max-width: 847px;
    width: 100%;
    max-height: 632px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-quaternary);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}
#feedback-text h3 {
    margin: 0;
    padding: 40px;
    max-width: 847px;
    width: 100%;
    max-height: 408px;
    height: 100%;
    font-size: 40px;
    font-weight: 400;
    line-height: 128%;
}
#feedback-text p {
    margin: 0;
    padding: 0 0 40px 40px;
}

/* Section bannwe */
.banner-container {
    position: relative;
    max-width: 1280px;
    width: 100%;
    height: 632px;
    margin-top: 400px;
    background-image: url('../img/baner_01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
}
.banner-container h3 {
    position: absolute;
    max-width: 482px;
    font-size: 40px;
    color: var(--color-quaternary);
    bottom: 181px;
    right: 40px;
    width: 100%;
    height: auto;
}
.banner-container button {
    position: absolute;
    bottom: 85px;
    right: 338px;
}
#btn-banner {
    width: 184px;
    height: 52px;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}
#btn-banner:hover {
    background-color: transparent;
    border: 1px solid var(--color-tertiary);
    color: var(--color-tertiary);
    transform: scale(1.05);
}